<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />

    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> Make sure to only buy books you will read!!
    </div>

</head>

    <div class="bg-dark text-white p-2">
        BOOK STORE
    </div>

<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
